<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title> {{ title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="static/style/index.css" />
    <link rel="stylesheet" type="text/css" href="static/style/header.css" />
    <link rel="stylesheet" type="text/css" href="static/style/footer.css" />
    <link rel="stylesheet" type="text/css" href="static/style/portfolio.css" />
    <link rel="stylesheet" type="text/css" href="static/style/home.css" />
    <link rel="stylesheet" type="text/css" href="static/style/about.css" />
  </head>
  <body class='app'>
    {{{body}}}
    <script src="static/helpers/lazyLoader.js" type="application/javascript"></script>
  </body>
</html>